@use '../../styles/colors' as colors;

.dashboard {
    margin: 0px 1rem;
    width: 15%;
    min-width: 15%;
}

.dashboard nav {
    height: 85vh;
    border-radius: 0.75rem;
}

.dashboard nav ul li:hover {
    background-color: colors.$blue-dark;
    color: white;
}

.dashboard nav ul li:hover:first-child {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.dashboard nav ul li a {
    width: 100%;
   
    display: flex;
    align-items: center;
}

.dashboard nav ul li svg {
    font-size: 2.5rem;
    padding: 0px 10px;
}

.dashboard nav ul .active {
    background-color: colors.$blue-dark;
    color: white;
}

.dashboard nav ul .active:first-child {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

@media screen and (max-width: 1000px) {
    .dashboard {
        width: 5%;
        min-width: 5%;
        max-width: 5%;
    }

    .dashboard nav ul li a {
        justify-content: center;
    }

    .dashboard nav ul li div {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .dashboard {
        width: 5%;
        min-width: 5%;
    }
}

@media screen and (max-width: 750px) {
    .dashboard {
        width: 7%;
        min-width: 7%;
    }

    .dashboard nav ul li{
        font-size: 2rem;
    }

    .dashboard nav ul li{
        padding: 0px 5px;
    }
}

@media screen and (max-width: 600px) {
    .dashboard {
        width: 10%;
        min-width: 10%;
    }

    .dashboard nav ul li{
        padding: 0px 5px;
        font-size: 1rem;
    }

    .dashboard nav ul li svg{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 450px) {
    .dashboard {
        width: 100%;
        min-width: 100%;
        position: absolute;
        margin: 0px;
        height: 100vh;
        border-radius: 0px;
    }

    .dashboard nav ul li div {
        display: block;
    }

    .dashboard nav {
        height: 100vh;
        border-radius: 0px;
    }

    .dashboard nav ul li a {
        justify-content: left;
    }

    .dashboard nav ul .active:first-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .open {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        top: 0;
        left: 0;
        transition: 0.5s ease-in;
    }

    .closed {
        top: 0;
        left: -100%;
        transition: 0.5s ease-out;
    }
}
