@use '../../styles/colors' as colors;
// $blue: #0ea5e9;

.dashboard {
    margin: 1rem;
    width: 15%;

    nav {
        height: 85vh;

        ul {
            li {
                padding: 1rem 0rem;
                cursor: pointer;

                &:hover {
                    background-color: colors.$blue-xlight;
                    color: black;
                }

                &:hover:first-child {
                    background-color: colors.$blue-xlight;
                    border-top-left-radius: 0.75rem;
                    border-top-right-radius: 0.75rem;
                }
            }
        }
    }
}
