@use "@/styles/colors" as colors;

.start {
    width: 100%;
    margin-right: 1rem;
}

.start li {
    border-bottom: 2px solid colors.$primary;
    margin-top: 1rem;
}

.start button {
    background-color: colors.$primary;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.start .completed {
    text-decoration: line-through;
    border-bottom: 2px solid colors.$gray-xlight;
    color: colors.$gray-light;
}

.start li > * {
    width: 32%;
}

.start li > *:first-child {
    width: 10%;
}

@media screen and (max-width: 450px) {
    .start {
        width: 90%;
        margin: auto;
    }
}