@use "@/styles/colors" as colors;

.name {
    width: 20%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.status {
    width: 20%;
}

.mobile {
    display: none;
}

.items {
    width: 15%;
}

.buttonContainer {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.buttonContainer button:first-child {
    margin: 0px 5px;
}

.statusActive {
    color: colors.$secondary;
}

.statusPending {
    color: colors.$primary;
}

@media screen and (max-width: 700px) {
    .status div:first-child {
        display: none;
    }

    .name {
        width: 40%;
    }
}

@media screen and (max-width: 450px) {
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
}
@media screen and (max-width: 350px) {
    .items {
        display: none;
    }

    .name {
        width: 80%;
    }
}