@use "@/styles/colors" as colors;

.itemForm {
    display: flex;
    justify-content: space-between;
}

.itemForm div {
    display: flex;
    flex-direction: column;
}

.itemForm div:nth-child(1){
    width: 40%; // Name
}

.itemForm div:nth-child(2){
    width: 20%; // Price
}

.itemForm div:nth-child(3){
    width: 15%; // Quantity
}

.itemForm div:nth-child(4){
    width: 15%; // Paid
}

.itemForm div div {
    height: 2rem;
}

.itemForm div input, .itemForm div select {
    background-color: rgb(230, 230, 230);
    width: 100%;
    padding: 4px;
    outline: none;
    border-radius: 6px;
    padding-left: 10px;
    border: 2px solid transparent;

    &:focus {
        background-color: transparent;
        border: 2px solid colors.$blue;
    }
}

.itemForm div button {
    width: 100%;
    outline: none;
    border-radius: 6px;
    color: white;
    background-color: colors.$primary;
    border: 2px solid colors.$primary;
    padding: 4px 0px;

    &:hover, &:focus {
        box-shadow: 0px 0px 10px 0px colors.$blue ;
    }
}

.itemForm div select {
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .itemForm {
        display: grid;
        grid-template-columns: 3fr 2fr 1fr;
        grid-gap: 1rem;
    }

    .itemForm div:nth-child(1){
        width: 100%; // Name
    }
    
    .itemForm div:nth-child(2){
        width: 100%; // Price
    }
    
    .itemForm div:nth-child(3){
        width: 100%; // Quantity
    }
    
    .itemForm div:nth-child(4){
        width: 100%; // Paid
    }
    
    .itemForm div:nth-child(5){
        width: 100%; // Type
    }
    
    .itemForm div:nth-child(6){
        width: 100%; // Tag
    }
    
    .itemForm div:nth-child(7){
        width: 100%; // Button
    }
}

@media screen and (max-width: 600px) {
    .itemForm {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .itemForm {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .itemForm .paid {
        display: none;
    }
}