@use "@/styles/colors" as colors;

.activity {
    width: 100%;
}

.itemList {
    margin-right: 1rem;
    height: 50vh;
    overflow-y: scroll;
}

.itemList li {
    padding: 5px 0px;
    border-bottom: 2px solid colors.$blue;
    margin: 5px 0px; 
}

.itemList li div {
    width: 20%;
}


