@use "@/styles/colors" as colors;

.activity {
    width: 80vw;
}

.itemList {
    margin-right: 1rem;
    overflow-y: scroll;
}

.itemList li {
    padding: 5px 0px;
    border-bottom: 2px solid colors.$blue;
    margin: 5px 0px; 
}

.itemList li div {
    width: 20%;
}

@media screen and (max-width: 1000px) {
    .activity {
        width: 90vw;
        margin: inherit auto;
    }
}

@media screen and (max-width: 450px) {
    .activity {
        width: 90vw;
        margin: auto;
    }
}


