@use "@/styles/colors" as colors;


.newActivity {
    height: 85vh;
    width: 85vw;
    overflow-y: scroll;
}

.button {
    background-color: colors.$primary;
    color: white;
    border-radius: 5px;
    width: 45%;
    padding: 5px 0px;
}



.show {
    display: block;
}

.hide {
    display: none;
}

@media screen and (max-width: 450px) {
    .newActivity {
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .newActivity {
        width: 95%;
    }

    .select {
        width: 80%;
    }
}

@media screen and (max-width: 300px) {
    .newActivity {
        width: 100%;
    }

    .buttonContainer {
        display: flex;
        flex-direction: column;
    }

    .button {
        width: 100%;
        margin-bottom: 1rem;
    }
}