@use "@/styles/colors" as colors;

.shoppingList {
    width: 85vw;
    margin-right: 1rem;
    margin-top: 1rem;
}

.list {
    height: 60vh;
    overflow-y: auto;
}

@media screen and (max-width: 500px) {
    .shoppingList {
        width: 95vw;
        margin: auto;
    }
}