@use "@/styles/colors" as colors;

.activities {
    width: 85%;
}

.activityList {
    margin-right: 1rem;
}

.activityList > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 1rem 1rem 0px 0px;
}

.activityList > div > div:first-child {
    width: 90%;
}

.activityList > div:not(:first-child) > div:last-child {
    width: 12%;
    display: flex;
    justify-content: space-between;
}

.activityList > div > div {
    display: flex;
}

.activityList .name {
    width: 40%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.activityList > div > div > div {
    width: 15%;
}

.activityList svg {
    // color: red;
    font-size: 1.25rem;
}

@media screen and (max-width: 700px) {
    .status {
        display: none;
    }

    .activityList .name {
        width: 40%;
    }

    .activities {
        margin: 0px auto;
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .activities {
        margin: 0px auto;
        width: 80%;
    }
}

@media screen and (max-width: 350px) {
    .items {
        display: none;
    }

    .activityList .name {
        width: 80%;
    }
}