@use "@/styles/colors" as colors;

.activities {
    width: 85%;
}

.name {
    width: 40%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.activityListHeader {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 2px solid black;
}

.activityList {
    margin-right: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 75vh;
}

.activityList > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 1rem 1rem 0px 0px;
}

.activityList > div > div:first-child {
    width: 90%;
}

.activityList > div > div {
    display: flex;
}

.activityList svg {
    font-size: 1.25rem;
}

@media screen and (max-width: 700px) {
    .activities {
        margin: 0px auto;
        width: 90%;
    }

    .status {
        display: none;
    }

    .name {
        width: 40%;
    }
}

@media screen and (max-width: 500px) {
    .activities {
        margin: 0px auto;
        width: 80%;
    }
}

@media screen and (max-width: 350px) {
    .items {
        display: none;
    }

    .name {
        width: 80%;
    }
}