$blue: #0ea5e9;
$gray: #64748b;
$secondary: #2ECC71;

$primary: #007BFF;
$gray-dark: #334155;
$orange-dark: #b45309;

$blue-light: #7dd3fc;
$gray-light: #cbd5e1;
$orange-light: #fcd34d;

$blue-xlight: #e0f2fe;
$gray-xlight: #f1f5f9;