$blue: #0ea5e9;
$blue-dark: #0369a1;
$blue-light: #7dd3fc;
$blue-xlight: #e0f2fe;
$gray: #64748b;
$gray-light: #cbd5e1;
$gray-dark: #334155;
$orange: #f59e0b;
$orange-light: #fcd34d;
$orange-dark: #b45309;