@use "../styles/colors" as colors;
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Nunito&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: colors.$blue-dark;
  border-radius: 10px;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Nunito';
}

@media screen and (max-width: 450px) {
  html, body {
    font-size: 1.1em;
  }
}